%h1 Questions#new
-# = form_with model: @quetion, url: items_path , local: true do |f|
-# = f.text_field :name, {class: "new-contents__box__input", placeholder: "40文字まで"}
-# = f.submit "出品する", {class:"new-contents__box__input-yen__submit"}
